[Unit]
Description=CloudDesktop Websockify Bridge
After=clouddesktop-vnc.service
Requires=clouddesktop-vnc.service

[Service]
Type=simple
User=root
Group=root

ExecStart=/usr/bin/websockify \
  --web /opt/OS/client/vendor/novnc \
  127.0.0.1:6080 \
  127.0.0.1:5901

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
