[Unit]
Description=CloudDesktop Web Backend
After=network.target clouddesktop-ws.service
Requires=clouddesktop-ws.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/OS/server

ExecStartPre=/bin/mkdir -p /var/log/clouddesktop
ExecStart=/usr/bin/node app.js

Restart=always
RestartSec=3
KillMode=mixed
TimeoutStopSec=10
Delegate=yes
OOMPolicy=continue

Environment=NODE_ENV=production
Environment=HOME=/root
EnvironmentFile=/opt/OS/data/.env

StandardOutput=append:/var/log/clouddesktop/web.log
StandardError=append:/var/log/clouddesktop/web.log

CPUQuota=80%

[Install]
WantedBy=multi-user.target
